* {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: rgb(231, 231, 231);
    padding: 1rem;
    margin-bottom: 1rem;
}

.nav a {
    margin: 1rem;
    text-decoration: none;
}

.nav a.active {
    color: darkcyan;
}
